html {
    box-sizing: border-box;
}
*,
*::after,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Quicksand";
}

a {
    text-decoration: none;  
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.rate-star {
    display: inline-block;
}
